
<%-include("partials/header.ejs");-%>
    <h1>Home</h1>
    <p> <%= homeStartingContent %> </p>
    
    <% console.log(posts); %>

    <% for(var i=0; < posts.length; i++) { %>
    <% console.log(posts[i].title); %>
   <% }; %>

<%-include("partials/footer.ejs");-%>








